{% extends '::base.html.twig' %}

{% block title %}えばちゃんねる：{{thread.name}}
{% endblock %}

{% block body %}
<p>
スレタイ：{{ thread.name }}
</p>
<p>
{{ thread.body }}</a>
</p>
<p>

{% for response in responses %}
<p>{{ response.no }}:{{response.userName}}:{{response.createdAt|date('Y/m/d')}}</p>
<p>{{response.body}}</p>
{% endfor %}


  <a href="{{ path('front_response_new', { 'thread_id': thread_id }) }}">新規書き込み</a>
</p>

<a href="{{ path('front_category_index') }}">
    スレッド一覧に戻る
</a>
{% endblock %}